body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.portfolio{
    color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    max-width: 100%;
}
.btn-1{
    text-decoration: none;
    padding: 10px 28px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px; 
    color: black;
    font-weight: 700;
}